.rcons-wrap {
  background: #fafafa;
  border-top: 1px solid #b0b0b0;
  border-top: 1px solid #aaa;
  bottom: 0;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.2) inset;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px !important;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 10000;
}
.rcons-wrap * {
  box-sizing: border-box;
}
.rcons-wrap .rcons-title {
  background: #f0f0f0;
  border-top: 1px solid #ddd;
  height: 25px;
  margin-top: -25px;
  padding: 5px;
  cursor: pointer;
}
.rcons-wrap .rcons-title .rcons-close {
  display: inline-block;
  font-family: monospace;
  font-size: 1.3em;
  padding: 3px;
  position: absolute;
  right: 5px;
  top: -25px;
}
.rcons-wrap pre {
  margin: 0;
  height: 200px;
  overflow: auto;
  padding: 1em;
}
.rcons-hidden pre {
  display: none;
}